/* Global styles */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header styles */
header {
  background-image: linear-gradient(
      rgba(56, 58, 192, 0.8),
      rgba(34, 39, 37, 0.3)
    ),
    url(greg-rakozy-oMpAz-DN-9I-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}

.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}

.logo {
  color: #ffffff;
  font-size: 25px;
  font-family: Helvetica;
}

.logotitle {
  text-decoration: none;
}

.menus {
  display: flex;
  align-items: center;
  list-style-type: none;
  color: whitesmoke;
  justify-content: center;
}

.menus li {
  padding: 10px;
  margin: 10px;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.menus li:hover {
  background-color: #c1eada;
  color: #000000;
}

/* Text section styles */
.text {
  margin-left: 220px;
  margin-top: 150px;
}

.text h1 {
  color: white;
}

.text h3 {
  color: rgb(189, 184, 184);
  margin-top: 5px;
  font-size: 18px;
}

.text button {
  margin-top: 10px;
  padding: 8px;
  font-size: 15px;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  border: 2px solid white;
}

.text button:hover {
  background-color: rgba(56, 58, 192, 0.8);
  color: rgb(241, 235, 235);
}


#About_us{
  padding-top: 70px;
  padding-bottom: 70px;
}
#About_us h1{
  text-align: center;
  color: rgb(56, 56, 56);
  margin-bottom: 70px;
}
.About_us_content{
  display: flex;
  height: 300px;
  justify-content:space-between;
  align-items:start;
}
.About_us_content img{
   width: 500px;
   height: 300px;
   margin-top: 60px;
}
.About_us_content .text{
  width: 500px;
  height: 300px;
}
.About_us_content .text h2{
  color: rgb(50, 50, 187);
  margin-bottom: 10px;
}
.About_us_content .text p {
  color: rgb(94, 91, 91);
}

 #Our_blogs {
  padding-top: 70px;
  background-color: rgb(238, 230, 230);
  padding-bottom: 70px;
}
#Our_blogs h1 {
  margin-bottom: 60px;
  color: rgb(5, 5, 59);
  text-align: center;
}
.blog {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.blog .item{
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  background-color: white;
  box-sizing: border-box;
  height: 400px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 60px;
}
.item img{
  width: 300px;
  border-top-left-radius: 60px;
}
.item h3,
.item p {
  padding: 10px;
}
.item h3 {
  color: rgb(50, 50, 187);
}
.item p {
  color: rgb(99, 96, 96);
} 

#Support_us{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color:  #f2f2f2;
}
#Support_us h1{
  margin-bottom: 50px;
  color: rgb(5, 5, 59);
  text-align: center;
}
.support{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 320px;
  align-items: center;
  justify-content:space-around;
}
.words{
  width: 400px;

}
.words h2{
  color: rgb(33, 33, 189);
  margin-bottom: 30px;
}
.words p{
  color: rgb(107, 103, 103);
}
form{
  width: 300px;
  border: 1px solid rgb(109, 106, 106);
  padding: 20px;
  background-color:  #e6f3ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
input{
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(172, 165, 165);
  height: 25px;
  margin-top: 5px;
  font-size: 16px;
}
.button{
  background-color: rgb(33, 33, 189);
  color: whitesmoke;
  height: 33px;
}
.button:hover{
  background-color:rgb(8, 8, 116) ;
}

